<html>

<head>
  <link rel="stylesheet" href="/css/style.css" />
  <script src="/js/lib/vue-2.5.2.js"></script>
  <script src="/js/lib/axios.js"></script>
</head>

<body>
  <script type="text/x-template" id="grid-template">
    <div>
      <div v-if="showModal" id="modal-new-item">
        <div class="modal-mask">
          <div class="modal-wrapper">
            <div class="modal-container">
        
              <div class="modal-header">
                  {{titleModal}}
              </div>
    
              <div class="modal-body">
                <slot name="body">
                  {{currentItem.titulo}}
                </slot>
              </div>
    
              <div class="modal-footer">
                <button class="btn btn-default" @click="showModal = false">Cancel</button>
                <button class="btn btn-primary" @click="saveItem()">Save</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <form>
        <input placeholder="Buscar..." class="input-text" name="query" v-model="searchQuery">
        <button type="button" @click="editItem()" class="btn btn-primary">New</button>
      </form>
    <table>
      <thead>
        <tr>
          <th v-for="key in columns"
            @click="sortBy(key)"
            :class="{ active: sortKey == key }">
            {{ key | capitalize }}
            <span class="arrow" :class="sortOrders[key] > 0 ? 'asc' : 'dsc'">
            </span>
          </th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="entry in filteredData">
          <td v-for="key in columns">
            {{entry[key]}}
          </td>
          <td><button @click="editItem(entry)" class="btn btn-info">Edit</button></td>
          <td><button @click="removeItem(entry)" class="btn btn-danger">Remove</button></td>
        </tr>
      </tbody>
    </table>
  </div>
  </script>

  <div id="item-grid">
    <custom-grid />    
  </div>
  <script src="/js/item.js"></script>
</body>

</html>